* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}


p, b {
  margin-bottom: 10px;
  font-size: 18px;
  background-color: lightgray;
}

form {
  text-align: center;
}

input {
  margin: 20px 20px 20px 0;
  height: 30px;
  width: 500px;
  border: none;
  padding: 0 0 0 10px;
  border-bottom: 1px solid black;
}

button {
  height: 30px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
}

.responseBox {
  background: lightgray;
  height: 100%;
  width: 70%;
  padding: 20px;
  margin: 20px 0;
  margin-inline: auto;
  border-radius: 3px;
}

.noSearch {
  text-align: center;
  margin-top: 20px;
  background-color: transparent;
}